*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
 

}
.main-container {
    display: flex;
    justify-content: space-around;
    height: 700px;
    align-items: center;
}

.add-form{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
}
input,select{
    
    padding: 20px 30px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    font-size: 12pt;
    margin:10px 10% 10px 10%;
  }


input[type=text]:focus,input[type=password]:focus {
outline: 1px ridge #c2c2c2
}

::placeholder {
font-size:12pt;
}

.btn {
    background-color: #ff8686;
    border: none;
    color: white;
    padding: 14px 30px 10px 10px;
    text-decoration: none;
    margin:10px 10% 10px 10%;
    cursor: pointer;
    width: 80%;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 5%;
}
.newcat{
    display: flex;
}
.btn1 {
    background-color: #ff8686;
    border: none;
    color: white;
    padding: 5%;
    text-decoration: none;
    margin:10px 20px 10px 0;
    cursor: pointer;
    width: 20%;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 5%;
}
img {
    margin:10px 20% 20px 20%;
    width:60%;
}