*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
 

}
.container {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;

}
.login-form{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    height: 300px;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
}
input{
    
    padding: 20px 30px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;
    font-size: 12pt;
    margin:10px 10% 10px 10%;
  }

input[type=text]:focus,input[type=password]:focus {
outline: 1px ridge #c2c2c2
}

::placeholder {
font-size:12pt;
}
.btn {
    background-color: #ff8686;
    border: none;
    color: white;
    padding: 14px 30px 10px 10px;
    text-decoration: none;
    margin:10px 10% 10px 10%;
    cursor: pointer;
    width: 80%;
    font-size: 16pt;
    font-weight: bold;
    border-radius: 5%;
  }

#msg{
    text-align: center;
    font-family: sans-serif;
}